<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url('https://previews.123rf.com/images/decorwithme/decorwithme1901/decorwithme190100077/125906613-online-exam-modern-line-design-style-illustration-on-white-background-colorful-composition-with-a.jpg');
}
.button {
      display: inline-block;
      padding: 8px 10px;
      background-color: #4CAF50;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      border: none;
      cursor: pointer;
}
</style>
</head>
<body>
<html>
<head>
    
    <title>Online Exam</title>

</head>
<body>
    <center>
    <h1>Welcome to the Online Exam Platform</h1>
    <a href="{{ url_for('register')}}" class="button">Register</a>       
    <a href="{{ url_for('login')}}" class="button">Login</a>
    
</center>
</body>
</html>
